a:hover {
  cursor: pointer;
}

a {
  color: darkorange;
}

.badge {
  background-color: darkorange;
  color: antiquewhite;
}

.spinner-border {
  color: darkorange;
  width: 10rem;
  height: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


